{% extends "reception/web_base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block title %}我的信息 {% endblock %}
{% block pager_js %}
{% endblock %}
{% block content %}
<body style="background:#efefef;">
<div class="mybg">
<div class="myimg">
<center><img id="pageImg" src="/static/images/img/jiacai_r3_c1_s1.jpg" alt="..." class="img-circle "></center>
</div>
<div class="mytext">
<span style="border:none;"><p>优惠券</p><p>23</p></span>
<span><p>积分</p><p>23</p></span>
<span><p>金额</p><p>23</p></span>
</div>
</div>

<div id="list">
<ul class="list">
<a href="#"><li class="lt"><img src="/static/images/img/xinxi_r3_c1_s1.jpg" />我的优惠券</li></a>
<a href="#"><li class="lt"><img src="/static/images/img/xinxi_r5_c1_s1.jpg" />我的兑换</li></a>
<a href="#"><li class="lt"><img src="/static/images/img/xinxi_r7_c1_s1.jpg" />我的菜单</li></a>
<a href="#"><li class="lt"><img src="/static/images/img/xinxi_r9_c1_s1.jpg" />我的排队</li></a>
<li  class="gt"><img src="/static/images/img/xinxi_r11_c1_s1.jpg" />完善个人信息 <button type="button" class="btn btn-primary btn-lg">管理</button>
</li>
<li class="gt"><img src="/static/images/img/xinxi_r13_c1_s1.jpg" />绑定手机号   <button type="button" class="btn btn-primary btn-lg">绑定新手机</button>
</li>

</ul>

</div>

<div class="none">
</div>
{#<div id="homefoot">#}
{#<ul>#}
{#<a href="#" ><li class="home1"></li></a>#}
{#<a href="#" ><li class="home2"></li></a>#}
{#<a href="#" ><li class="home3"></li></a>#}
{#<a href="#" ><li class="home4"></li></a>#}
{#<a href="#" ><li class="home5"></li></a>#}
{#</ul>#}
{##}
{#</div>#}


</body>
{% endblock %}


