 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 
<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
<script type="text/javascript" src="./js/touch.js"></script>
 <script type="text/javascript" src="./js/zepto.extend.js"></script>
 <script type="text/javascript" src="./js/zepto.ui.js"></script>
 <script type="text/javascript" src="./js/slider.js"></script>
  <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap.min.css">

    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>

<title>微餐饮</title>
</head>
<style>
.floor{ width:98%; margin:auto;}
.floor img{ width:48%; }
.floor li{ margin:10px 0; }
</style> 
<body style="background:#EFF2F5;">
<div class="floor" >
<ul style="width:99%; margin:auto;">
<li ><a href="/to_queue"><img src="/static/images/stores/wode_r1.jpg" /></a>&nbsp;&nbsp;<a href="#"><img src="/static/images/stores/wode_r2.jpg" /></a></li>
<li><a href="#"><img src="/static/images/stores/wode_r3.jpg" /></a>&nbsp;&nbsp;<a href="#"><img src="/static/images/stores/wode_r4.jpg" /></a></li>
<li><a href="#"><img src="/static/images/stores/wode_r5.jpg" /></a>&nbsp;&nbsp;<a href="#"><img src="/static/images/stores/wode_r6.jpg" /></a></li>
</ul>


</ul>
</div>
</div>

</body>
</html>

