 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=0;">
<link rel="stylesheet" type="text/css" href="/static/css/pay.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
<title>微餐饮支付</title>
</head> 
<body style="background:#FBFBFB;">
<div class="pay-top">
选择支付方式
</div>
<div class="pay-con">
<div class="pay-con-top">
&nbsp;&nbsp;&nbsp;&nbsp;确认支付信息
</div>
<div class="pay-con-t">
<span class="pay-con-tl">餐厅名称</span><span class="pay-con-tr ftw">上海小南国</span>
</div>
<div class="pay-con-t">
<span class="pay-con-tl">支付金额</span><span class="pay-con-tr red">￥120</span>
</div>
<div class="pay-con-t">
<span class="pay-con-tl">奖励积分</span><span class="pay-con-tr red">120积分</span>
</div>
</div>
<div class="pay-con">
<div class="pay-con-top">
&nbsp;&nbsp;&nbsp;&nbsp;选择支付方式
</div>
<select>
<option>中国农业银行</option>
<option>中国银行</option>
<option>中国工商银行</option>
<option>上海浦发银行</option>
<option>招商银行</option>
</select>
<div class="pay-num">
银行卡号：<input type="text" />
</div>
<div class="pay-num">
身份证号：<input type="text" />
</div>
<div class="pay-num">
开户姓名：<input type="text" />
</div>
<div class="pay-num">
支付密码：<input type="text" />
</div>

</div>
<a href="/toPaySuccess"><button type="button" class="pay-button"> 确认支付</button></a>

</body>
</html>

