 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=0;">
<link rel="stylesheet" type="text/css" href="/static/css/pay.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
<title>微餐饮支付</title>
</head> 
<body style="background:#fff;">
<div  class="pay">
卡号：<input type="text" class="payk" name="textfield" onfocus="if (value =='无需网银/免手续费'){value =''}"onblur="if (value ==''){value='无需网银/免手续费'}"value="无需网银/免手续费" />
<input type="button" value="下一步" onclick="javascript:window.location.href='/toPay3'" name="" class="payb" />
<p class="payp">提供支付密码和短信验证的双重保障，<a href="#">了解更多</a></p>
</div>


</body>
</html>
