{% extends "reception/web_base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block title %} 排队 {% endblock %}

{% block pager_js %}

{% endblock %}

{% block content %}
    <body style="background:#E9E9E9;">

    <div id="des">
        <ul id="nav_des">
            <a href="#">
                <li style="background: #5AC3DC"><b>我的排队</b></li>
            </a>
            <a href="#">
                <li style="background: #E9F4F7"><b>相关推荐</b></li>
            </a>
        </ul>
    </div>
    <div class="clear"></div>
    <div class="content_list" style="height:400px; background:none; border:none; width:98%; margin:auto;">
        <div class="nan">
            <div class="pdcg">
                <p style="font-size:18px; color:#333; width:90%;  padding-top:30px; margin-left:10%; ">{{ stores.name }}
                    &nbsp;&nbsp;<span style="font-size:14px; color:#999;">2014/4/11</span></p>
	<p class="nantext">餐桌类型：<span class="nanp">{{ queue.table_type }}</span></p>
	<p class="nantext">前面还有：<span class="nanp">{{ queue.queue_count }}人</span></p>
	<p class="nantext">排队号：<span class="nanp">{{ queue.now_queue_number }}号</span></p>
	<p class="nantext" style="background:url(/static/images/img/id.png) no-repeat center left ; width:75%; padding-left:20px; margin-left:10%; ">
        {{ stores.address }}</p>

            </div>
            <div class="desbutton">
                <button type="submit" class="btn btn-primary btn-lg" id="cancel">取消</button>
                <button type="submit" class="btn btn-primary btn-lg">去点菜</button>
            </div>
        </div>
    </div>
    </body>
<script type="text/javascript">
    $(function(){
        $("#cancel").bind('click', function(){
            window.location.href = '/do_cancel_queue/{{ queue.id }}?stores_id={{ queue.stores_id }}'
        })
    })
</script>



    {% block foot %}
        {{ super() }}
    {% endblock %}
{% endblock %}

