{% extends "reception/web_base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/tuijian.css">
{% endblock %}
{% block title %} 排队 {% endblock %}

{% block pager_js %}
    <script type="text/javascript">
        $(document).ready(function () {
           $("#tab1").click(function () {
                $("#tab1").css("background", "#5AC3DC").children().css({color:"#e9f4f7"});
                $("#tab2").css({background: "#E9F4F7"}).children().css({color:"#5ac3dc"});
                $("#text1").css("display", "block");
                $("#text2").css("display", "none");
            });
            $("#tab2").click(function () {
                $("#tab1").css({background: "#E9F4F7"}).children().css({color:"#5ac3dc"});
                $("#tab2").css("background", "#5AC3DC").children().css({color:"#e9f4f7"});
                $("#text1").css("display", "none");
                $("#text2").css("display", "block");
            });
            $("#cancelButton").click(function () {
                if (confirm("您确定要取消排队吗？")) {
                    window.location.href = "/q/do_cancel_queue/{{ queue.id }}?stores_id={{ queue.stores_id }}";
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    <body style="background:#E9E9E9;height: 100%;width: 100%">

        <div class="des">
            <span id="tab1" class="nav_des"
                  style="color:#fff; background: #5AC3DC;float: left;margin-left: 1%"><b>我&nbsp;的&nbsp;排&nbsp;队</b></span>
            <span id="tab2" class="nav_des" style="background: #E9F4F7;float: left"><b style="color: #5AC3DC">等&nbsp;不&nbsp;及&nbsp;了</b></span>

        </div>
        <div id="text1">
            <div>
                <div class="suc_con">
                    <span class="suc_con_left"
                          style=" font-size: 16px; font-weight: bold; color: #666; line-height:20px; height:45px;"><b>{{ stores.name }}&nbsp;&nbsp;&nbsp;&nbsp;</b></span>
                    <span class="suc_con_right"
                          style="font-size: 13px; color: #666; height:45px;"><b>&nbsp;&nbsp;&nbsp;&nbsp;2014/4/11</b></span>
                </div>
                <div class="suc_con">
                    <span class="suc_con_left"><b>餐桌类型：&nbsp;&nbsp;&nbsp;&nbsp;</b></span>
                    <span class="suc_con_right"><b>&nbsp;&nbsp;&nbsp;&nbsp;{{ queue.table_type }}</b></span>
                </div>
                <div class="suc_con">
                    <span class="suc_con_left"><b>前面还有：&nbsp;&nbsp;&nbsp;&nbsp;</b></span>
                    <span class="suc_con_right"><b>&nbsp;&nbsp;&nbsp;&nbsp;{{ queue.queue_count }}人</b></span>
                </div>
                <div class="suc_con">
                    <span class="suc_con_left"><b>排队号：&nbsp;&nbsp;&nbsp;&nbsp;</b></span>
                    <span class="suc_con_right"><b>&nbsp;&nbsp;&nbsp;&nbsp;{{ queue.now_queue_number }}号</b></span>
                </div>

                <div class="suc_con" style="width: 85%; margin:0 auto; padding:0; ">
                <span style="background:url(/static/images/img/id.png) no-repeat left top;text-align:left; width:90%; font-size: 15px; background-size: 18px 18px; margin:auto; line-height: 50px; height:60px; padding-left:3px;">
                    <b>{{ stores.address }}</b></span>
                </div>


            </div>
            <br>

            <div class="desbutton">
                <span class="des_button_sp"> <a id="cancelButton" type="button" class="btn btn-primary btn-lg"
                                                style=" width: 80%; border:none;text-align: center">取消排队</a></span>
                <span class="des_button_sp"> <a href="/f/package" type="button" class="btn btn-primary btn-lg"
                                                style=" border:none;width: 80%">去点菜</a></span>

                <div style="clear: both"></div>
            </div>
        </div>
        <div id="text2" style="display: none;margin-top: 15px">
            <div class="content_list" style="background:none; height:auto; border:none; width:98%; margin:auto; margin-top:5px; " >
	<div class="tuijiancon">
   <span class="tuijiant" style="background:url(/static/images/img/tuijiana_r1_c1_s1.jpg) no-repeat;  background-size:100% 100px; " >
    <img src="/static/images/img/lbj_r1_c1_s1.jpg"  style="width:90px; height:90px; float:left; margin-left:4%; margin-right:10px;  margin-top:5px;" />
    <p style="line-height: 17px;width: 95%">
    <b style="line-height: 15px">七折</b><br />
    上海泰妃阁美食餐厅<br />
    一次性消费100元享七折优惠<br />
    有效日期4月9日<br />
    </p></span>
    <button class="tjbutton" style="float:right; border:none; background:url(/static/images/img/tuijiana_r1_c2_s1.jpg) no-repeat; background-size:100% 100px; width:20%; height:100px; display:block;">领<br />取</button>
    </div>

    <div class="tuijiancon">
    <ul>
    <li ><span class="tuijiant" style="background:url(/static/images/img/tuijiana_r3_c1_s1.jpg) no-repeat; background-size:100% 100px; " >
   <img src="/static/images/img/lbj_r3_c1_s1.jpg"  style="width:90px; height:90px; float:left; margin-left:4%; margin-right:5px;  margin-top:5px;" />
     <p style="width:98%;" >
    <b  style="height:35px; text-align:center; line-height:25px;">点我就送&nbsp;&nbsp;<img src="/static/images/img/pz.png"  style="width:18px; height:36px;"/></b><br />

    有效日期2014年4月9日<br />
    </p></span>
    <button class="tjbutton" style="float:right; border:none; background:url(/static/images/img/tuijiana_r3_c2_s1.jpg) no-repeat; background-size:100% 100px; width:20%; height:100px; display:block;">领<br />取</button></li>


    </ul>
    </div>


    <div class="tuijianfoot">
   <span class="tuijiant" style="background:url(/static/images/img/tuijiana_r3_c1_s1.jpg) no-repeat; background-size:100% 100px; " >
     <p style="font-family:'微软雅黑'; line-height:20px;" >
    <b style="font-size:18px; font-family:'微软雅黑'; line-height:25px;">50积分</b><br />

    一次性消费100元享七折优惠<br />
    有效日期至2014年4月9日<br />
    </p></span>
    <button class="tjbutton" style="float:right; border:none; background:url(/static/images/img/tuijiana_r5_c2_s1.jpg) no-repeat; background-size:100% 100px; width:20%; height:100px; color:#FBAB2E; display:block;">已<br />领<br />取</button>
    </div>

 <div class="tuijianfoot" >
   <span class="tuijiant" style="background:url(/static/images/img/over_s1.jpg) no-repeat; width:80%; background-size:100% 100px; " >
     <p >
    <b>七折</b><br />
    上海泰妃阁美食餐厅<br />
    一次性消费100元可以使用<br />
    有效日期4月9日<br />
    </p></span>
   <button class="tjbutton" style="float:right; border:none; background:url(/static/images/img/over_s2.jpg) no-repeat; background-size:100% 100px; width:20%; height:100px; color:#fff; display:block;">抢<br />光<br />了</button>
    </div>

</div>



        </div>
        <div style="height: 80px">
            &nbsp;
        </div>
    </body>

    {% endblock %}

