{% extends "reception/web_base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block title %} 排队 {% endblock %}

{% block pager_js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#tab1").click(function () {
                $("#tab1").css("background", "#5AC3DC").children().css({color:"#e9f4f7"});
                $("#tab2").css({background: "#E9F4F7"}).children().css({color:"#5ac3dc"});
                $("#text1").css("display", "block");
                $("#text2").css("display", "none");
            });
            $("#tab2").click(function () {
                $("#tab1").css({background: "#E9F4F7"}).children().css({color:"#5ac3dc"});
                $("#tab2").css("background", "#5AC3DC").children().css({color:"#e9f4f7"});
                $("#text1").css("display", "none");
                $("#text2").css("display", "block");
            });
        });
    </script>
{% endblock %}

{% block content %}
    <body style="background:#E9E9E9;height: 100%;width: 100%;margin-bottom: 60px !important;">
    <div class="des">
        <span id="tab1" class="nav_des"
              style="background: #5AC3DC;float: left;margin-left: 1%"><b>我&nbsp;的&nbsp;排&nbsp;队</b></span>
        <span id="tab2" class="nav_des" style="background: #E9F4F7;float: left;color: #5AC3DC"><b style="color: #5AC3DC">等&nbsp;不&nbsp;及&nbsp;了</b></span>
    </div>

    <div class="clear"></div>
    <div class="number2">12</div>

    <div id="text1" class="content_list" style=" margin-top: 5px !important;background:url(/static/images/img/topbg2_s1.jpg);display:block;background-position: initial initial;background-repeat: repeat no-repeat" >
    <div id="content">
        <div class="content_list" style="border: none; " >
            <form name="queueForm" action="/q/do_queue">
                <input type="hidden" name="stores_id" value="{{ stores.id }}"/>
                <input type="hidden" name="user_id" value="{{ user_id }}"/>
                <div class="destop">
                    <b>{{ stores.name }}</b>
                </div>
                <div class="zhuoxing">
                    <ul class="zhuoxingul">
                        {% for t in temp %}
                            <li>
                                <ul class="zhuoxingul2">
                                    <li><label><input name="table_type_id" type="radio" value="{{ t.id }}" checked/>&nbsp;{{ t.type }}
                                    </label></li>
                                    <li>前面还有{{ t.queue_number }}位</li>
                                    <li>预计时间5分钟</li>
                                </ul>
                            </li>
                        {% endfor %}

                    </ul>

                </div>

                <div class="button">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">去排队</button>
                </div>
            </form>
        </div>
    </div>
    </div>


    <div id="text2" style="display: none;margin-top: 10px !important">
        <div class="content_list" style="background:none; border:none; width:99%; margin:auto; ">
            <div class="tuijiancon">
                <span class="tuijiant"
                      style="background:url(/static/images/img/tuijiana_r1_c1_s1.jpg) no-repeat;  background-size:100% 100px; ">
    <p>
        <b>七折</b><br/>
        上海泰妃阁美食餐厅<br/>
        一次性消费100元享七折优惠<br/>
        有效日期4月9日<br/>
    </p></span>
                <button class="tjbutton"
                        style="float:right; border:none; background:url(/static/images/img/tuijiana_r1_c2_s1.jpg) no-repeat; background-size:100% 100px; width:20%; height:100px; display:block;">
                    领<br/>取
                </button>
            </div>

            <div class="tuijiancon">
                <ul>
                    <li><span class="tuijiant"
                              style="background:url(/static/images/img/tuijiana_r3_c1_s1.jpg) no-repeat; background-size:100% 100px; ">
     <p>
         <b>七折</b><br/>
         上海泰妃阁美食餐厅<br/>
         一次性消费100元享七折优惠<br/>
         有效日期4月9日<br/>
     </p></span>
                        <button class="tjbutton"
                                style="float:right; border:none; background:url(/static/images/img/tuijiana_r3_c2_s1.jpg) no-repeat; background-size:100% 100px; width:20%; height:100px; display:block;">
                            领<br/>取
                        </button>
                    </li>


                </ul>
            </div>


            <div class="tuijiancon">
   <span class="tuijiant"
         style="background:url(/static/images/img/tuijiana_r3_c1_s1.jpg) no-repeat; background-size:100% 100px; ">
     <p>
         <b>七折</b><br/>
         上海泰妃阁美食餐厅<br/>
         一次性消费100元享七折优惠<br/>
         有效日期4月9日<br/>
     </p></span>
                <button class="tjbutton"
                        style="float:right; border:none; background:url(/static/images/img/tuijiana_r5_c2_s1.jpg) no-repeat; background-size:100% 100px; width:20%; height:100px; color:#666; display:block;">
                    已<br/>领<br/>取
                </button>
            </div>



        </div>


    </div>


    </body>

{% endblock %}

